.input-border-color {
    border-color: #024950;
}

.addBoarding-Container {
    margin: 80px 20px;
}

.main-title, .title {
    color: #024950;
    font-weight: 600;
}

.main-title {
    font-size: 1.75rem;
}

.title {
    font-size: 1.25rem;
}

.details-title-container {
    display: flex;
    align-items: center;
}

.add-details-form-container {
    margin: 0 1rem;
}

@media (min-width: 768px) {
    .addBoarding-Container {
        margin: 5rem 10rem;
    }

    .add-details-form-container {
        margin: 0 3rem;
    }

}

.addboarding-dropdown-btn {
    background-color: #ffffff !important;
    color: #212529 !important;
    opacity: 0.8 !important;
    text-align: left;
    width: 100%;
}

.file-uploader-container-main {
    outline: none;
    border-radius: 8px;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(99, 115, 129);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 150px;
    height: 100%;
    text-align: center;
    background-color: rgba(145, 158, 171, 0.08);
    border: 1px dashed rgba(145, 158, 171, 0.2);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.file-uploader-container-sub {
    padding: 19px;
    outline: none;
    border-radius: 8px;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(99, 115, 129);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(145, 158, 171, 0.08);
    border: 1px dashed rgba(145, 158, 171, 0.2);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.more-upload {
    min-height: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-upload {
    margin: auto;
}

.boading-image-uploader .juBESy {
    width: 100% !important;
    height: 100% !important;
}

.students-dropdown-btn {
    background-color: #024950 !important;
    border: none !important
}

.boarding-type-home-button {
    display: flex;
    align-items: center;
    min-width: 100%;
    width: 100%;
}

.boarding-type-home {
    border: 1px #024950 solid;
    border-radius: 6px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio-btn {
    color: #848282 !important;
    font-size: 12px;
    text-align: left;
    width: 100%;
}

.radio-circle {
    border: #024950 !important;

}

.boarding-type-home-button .form-check {
    display: flex;
    align-items: center;
    width: 100%;
}

.boarding-type-home-button .form-check-input {
    border: 1px solid #024950;
}

.boarding-type-home-button .form-check-label {
    width: 100%;
}

.boarding-text-box-Container .dropdown-toggle::after {
    display: none;
}

.facility-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error-message {
    font-size: 14px;
    margin-bottom: 0px !important;
}