.collection-overlay-text {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    font-family: Inter, serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.collection-overlay-btn {
    position: absolute;
    bottom: 1% !important;
    left: 10%;
    transform: translateY(-50%);
    /*color: white;*/
}

.university-overlay-btn {
    position: absolute;
    left: 10%;
    top:10%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.50);
    border-radius: 40px;
}

.collection-image {
    width: 100%;
    height: auto;
    max-height: 315px;
    max-width: 609px;
    object-fit: cover;
    border-radius: 6px;
}

.collection-subheading {
    font-size: 1.5rem;
    font-weight: bold;
}

.university-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.80);
    background-color: rgba(108, 117, 125, 0.71);
    padding: 6px;
    border-radius: 15px;
}

.university-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.university-name {
    font-size: 1rem;
    font-weight: bold;
    /*color: white;*/
}
