.settings-container{
    margin: 80px 20px;
}

@media (min-width: 768px) {
    .settings-container {
        margin: 5rem 10rem;
    }
    .settings-form-container{
        margin: 0 3rem;
    }
}
/*.settings-profile-photo{*/
/*    background-color: #777777;*/
/*    border: 1px solid #024950;*/
/*    border-radius: 100%;*/
/*}*/
.profile-upload-button{
    border: none;
    background-color: #024950;
    color: #ffffff;
    border-radius: 6px;
}
.settings-image-uploader-container .juBESy{
    /*width: 0;*/
    border: none !important;
}
.profile-image{
    display: flex;
    flex-direction: column;
}
.settings-nic-upload{
    min-height: 250px;
}
.juBESy:focus-within{
    outline: none !important;
}
