container_commands:
  01_create_nginx_directories:
    command: |
      sudo mkdir -p /var/lib/nginx/tmp/client_body
      sudo mkdir -p /var/lib/nginx/tmp/proxy
      sudo mkdir -p /var/lib/nginx/tmp/fastcgi
      sudo mkdir -p /var/lib/nginx/tmp/uwsgi
      sudo mkdir -p /var/lib/nginx/tmp/scgi
  02_set_nginx_log_permissions:
    command: |
      sudo chmod -R 755 /var/log/nginx
      sudo chown -R nginx:nginx /var/log/nginx
      sudo chown -R nginx:nginx /var/lib/nginx/tmp
  03_restart_nginx:
    command: "sudo service nginx restart"