container_commands:
  01_set_nginx_log_permissions:
    command: |
      sudo chmod -R 755 /var/log/nginx
      sudo chown -R nginx:nginx /var/log/nginx
      sudo mkdir -p /var/lib/nginx/tmp
      sudo chown -R nginx:nginx /var/lib/nginx/tmp
  02_restart_nginx:
    command: "sudo service nginx restart"