.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.admin-form-head {
    font-size: 24px; /* Increased font size */
    font-weight: bold;
    text-align: center; /* Center the header text */
}

.admin-form-radio-head {
    font-size: 18px; /* Increased font size */
    font-weight: 600;
}

.admin-radio-btn {
    font-size: 16px; /* Increased font size */
    color: #555;
}

.radio-circle .form-check-label {
    display: flex;
    align-items: center;
}

.admin-text-red {
    color: red;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

button.btn-primary {
    background-color: #024950;
    border-color: #024950;
}

button.btn-primary:hover {
    background-color: #023b40;
    border-color: #023b40;
}

button.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

button.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.form-check-input:checked {
    background-color: #024950;
    border-color: #024950;
}
