.bodimate-card {
    width: 90%;
    max-width: 300px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none !important;
    border-radius: 50%;
    padding: 5px;
}

.heart-icon svg {
    color: #000000;
    font-size: 1.5rem;
}

.review-rating {
    font-size: 0.9rem;
    color: #6c757d;
    display: flex;
    align-items: center;
}

.review-rating svg {
    color: #ffc107;
    margin-right: 5px;
}

.card-text {
    color: #6c757d;
    margin: 10px 0;
}

.price {
    font-size: 1.25rem;
    font-weight: bold;
}

.per-night {
    font-size: 0.9rem;
    color: #6c757d;
}

.home-sub-head {
    color: #024950;
    font-family: Inter, sans-serif;
    font-size: 18px;
}


@media (max-width: 768px) {
    .bodimate-card {
        width: 100%;
        max-width: none;
    }

    .review-rating {
        font-size: 0.8rem;
    }

    .price {
        font-size: 1rem;
    }

    .per-night {
        font-size: 0.8rem;
    }
}
